html {
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f2f2f2;
    min-height: 100vh;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #f6f8fa; /* Light grey background for the container */
}

.app-header {
    padding: 5px;
    /* background-color: #2c3e50;  /* Dark bluish-grey for the header */
    color: #ecf0f1; /* A softer shade of white */
    text-align: center;
    font-size: 1.2em; /* Reduce header size */
    margin-bottom: 10px;
}

.app-footer {
    padding: 10px 20px;
    /* background-color: #2c3e50;  /* Match the header color */
    color: #ecf0f1;
    text-align: center;
    margin-top: auto;
    font-size: 0.8em; /* Slightly smaller text size */
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin: auto;
    max-width: 800px;
    flex-grow: 1; /* Allow the main area to take up remaining space */
    width: 100%;
}

.spacer {
    height: 80vh;
}

.section {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 100%;
    margin-bottom: 20px; /* Space out sections */
}

/* Media query for screens smaller than 800px */
@media screen and (max-width: 800px) {
    .main {
        width: 100%;
        max-width: none; /* Override max-width */
    }
}

.section-header {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #2a2a2a;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd; /* Consider a bottom border to separate header from content */
}

.section-contents {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.ContractUI {
    width: 100%;
}

.main > * {
    flex-basis: 100%;
    margin-bottom: 20px;
}

a, span {
    word-break: break-word;
}

input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    margin: 5px 0;
    font-size: 16px;
}

input.address {
    font-family: 'Courier New', monospace;
}

input.address.invalid {
    border-color: red;
    box-shadow: 0 0 5px red;
}

input:read-only, select:read-only {
    background-color: #f3f3f3; /* Light grey background */
    /*cursor: not-allowed; !* Cursor indicating the input cannot be interacted with *!*/
}

button {
    background-color: #007BFF; /* moderate blue */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.4s;
    font-size: 16px;
    margin: 10px 0;
}

button:hover {
    background-color: #0056b3; /* dark blue on hover */
}

button:disabled {
    background-color: #c8d6e5; /* light gray-blue when disabled */
    cursor: not-allowed;
}

button:active:not(:disabled) {
    background-color: #0056b3; /* darker blue when pressed */
    transform: translateY(2px); /* simulates button being pressed down */
}

.no-overlay, .with-overlay {
    position: relative;
}

.no-overlay::after,
.with-overlay::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7); /* semi-transparent white */
    z-index: 100; /* make sure this is above other elements inside the div */
    pointer-events: none; /* disable clicking/interactions through the overlay // doesn't work */
    opacity: 0;
    transition: opacity 1s ease-out; /* transition effect on opacity */
}

.with-overlay::after {
    opacity: 1;
}

@keyframes blink {
    0% {
        color: inherit;
    }
    50% {
        color: #ff9900;
    }
    /* soft orange in the middle */
    100% {
        color: inherit;
    }
}

.wallet-requests-pending {
    animation: blink 1s linear infinite;
}

.qrcode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.qrcode-container > .qrcode-aspect-helper {
    position: relative;
    max-width: 256px;
    width: 90%;
    aspect-ratio: 1 / 1;
    margin: 10px;
}

.qrcode-container > .qrcode-aspect-helper > canvas.qrcode {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.qrcode-container > .qrcode-url {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 10px auto;
}

.qrcode-container > .qrcode-url > * {
    text-align: center;
}

.addresses{
    font-size: x-small;
    display: flex;  /* lay out list items in a row */
    flex-wrap: wrap; /* allow list items to wrap onto the next line */
    padding: 0;  /* remove default padding */
    margin: 0;  /* remove default margin */
    justify-content: center; /* align items to the right */
}

.addresses > span, a {
    margin-left: 10px;  /* add some space to the right of each list item */
}

.addresses > a {
    color: #007bff;  /* make the links blue, for example */
    text-decoration: none;  /* remove the underline */
}

.addresses > a:hover {
    color: #0056b3;  /* make the links darker blue when hovered over */
}
